/* CSS for ChiliPeppr Widget */
#com-chilipeppr-widget-cam {
   margin:10px;
}

#com-chilipeppr-widget-cam .nav-tabs>li>a {
    padding: 2px 6px;
}

#com-chilipeppr-widget-cam .panel-body {
    padding:0;
    /*min-height:200px;*/
}
    
#com-chilipeppr-widget-cam .overlayWrapper {
    position:relative;
    margin:0;
    padding:0;
}
#com-chilipeppr-widget-cam .cam-line-horiz {
    border-top: 1px solid red;
    top:50%;
    left:0;
    right:0;
    position:absolute;
}
#com-chilipeppr-widget-cam .cam-line-vert {
    border-left: 1px solid red;
    top:0;
    left:50%;
    bottom:0;
    position:absolute;
}
#com-chilipeppr-widget-cam .well {
    margin-bottom:0;
}
#com-chilipeppr-widget-cam .terminal {
    background-color:#000000;
    margin-top:14px;
    color:#cccccc;
    overflow:auto;
    max-height:80px;
}